
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Rubik&display=swap')

body {
    font-family: Raleway, sans-serif;
  }

main {
    margin: auto;
    width: 80%;
  }

  .titulo-pagina {
    margin: 40px auto 10px; /*margin: top right bottom left; */
    padding-left: 10px;
    width: 80%;
    font-size: 24pt;
    font-weight: 700;
    color: #a75207; /* Código hexadecimal da cor */
 
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family:'Open sans', sans-serif;

}

.subtitulo-pagina {
    margin: 10px auto 10px;
    padding-left: 10px;
    width: 80%;
    font-size: 20pt;
  }

  .titulo-artigo {
    font-size: 18pt;
    margin: 10px 10px 10px 10px;
  }

  .subtitulo-artigo {
    font-size: 14pt;
    margin: 10px 10px 10px 10px;
  }

  .paragrafo-artigo {
    font-size: 12pt;
    margin: 10px 10px 10px 10px;
    line-height: 1.4;
  }

  .link-menu-principal a {
    text-decoration: none;
  }

  .categoria-produto {
    font-size: 140%;
    font-weight: 600;
    margin: 10px 10px 10px 10px;
    background-color: #a75207;
    color: #ffffff;
    line-height: 3;
    padding-left: 20px;
  } 

  .vitrine-produtos {
    margin: 40px 0;
  }

  .lista-produtos {
    margin: 40px 0;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  .imagem-produto {
    width: 100%;
    height: 150px;
    object-fit: contain;
    object-position: 0 0;
  }

  .rodape {
    background-color: #a75207;
    color: #ffffff;
    padding: 20px;
  }

  .imagem-banner {
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: 0 10%;
  }

  .menu-navegacao {
    width: 80%;
    margin: auto;
  }
  
  .menu-navegacao ul {
    display: flex;
    justify-content: start;
  }
  
  .menu-navegacao ul li {
    padding: 20px;
  }
  
  article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, img {
    display: block;
  }

#menu-horizontal{
    list-style: none;
    padding: 0;
    background-color: rgb(255, 255, 255);
}

#menu-horizontal li{
    display: inline;
}

#menu-horizontal li a{
    color: rgb(0, 0, 0);
    padding: 20px;
    display: inline-block;
    text-decoration: none;
    transition: rgb(0, 0, 0) .4s
}

#menu-horizontal li a:hover {
    background-color: white;

}

.contact-section {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.secao-contato {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.formulario-contato{
    width: 100%;
}

.formulario-contato input, .formulario-contato textarea, .button {
    width: 80%;
    margin: 5px 0;
}

@media screen and (max-width: 600px) {
    .menu-navegacao, .titulo-pagina, .subtitulo-pagina, main, .formulario-contato
    }

    .titulo-pagina {
    margin: 10px 0;
    }


@media screen and (max-width: 380px) {
    .menu-navegacao ul 11, .rodape 
    
}

label {
    display: block;
    width: 100%;
    margin: 5px 0;
       
}

.page-title {
  font-size: 28pt;
  color: #a75207;
}

.page-subtitle {
  font-size: 24pt;
  color: #a75207;
}

.navbar a {
  text-decoration: none;
  padding-bottom: 5px;
  color: #a75207;
}

.navbar li :hover {
  border-bottom:chocolate solid 2px;
}

.formulario-de-contato {
  display: flex;
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 73vh;
}

section h2 {
  font-size: 2.5rem;
  margin: 2rem;
}

section form {
  display: flex;
  flex-direction: column;
  width: 80%;
}

form label {
  color: black;
  font-size: 18px;
  margin-bottom: 10px;
}

form input {
  padding: 8px;
  outline: none;
  border: 5;
  margin-bottom: 15px;
  font-size: 15px;
  transition: all 0.5s;
}

form input :focus {
  border-radius: 18px;
}

form textarea {
  padding: 15px;
  outline: none;
  border: 1;
  font-size: 15px;
  margin-bottom: 15px;
  transition: all 0.5s;
}

form textarea :focus {
  border-radius: 16px;
}

form button {
  padding: 15px;
  cursor: pointer;
  font-size: 16px;
  background: transparent;
  border: 2px solid black;
  color: black;
  transition: all 1s;
  margin-bottom: 20px;
}

form button :hover {
  background: black;
  color: black;
  border-radius: 16px;
}
}