
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Rubik&display=swap')

body {
    font-family: Raleway, sans-serif;
  }

main {
    margin: auto;
    width: 80%;
  }

  .titulo-pagina {
    margin: 40px auto 10px; /*margin: top right bottom left; */
    padding-left: 10px;
    width: 80%;
    font-size: 24pt;
    font-weight: 700;
    color: #a75207; /* Código hexadecimal da cor */
 {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family:'Open sans', sans-serif;

}

.subtitulo-pagina {
    margin: 10px auto 10px;
    padding-left: 10px;
    width: 80%;
    font-size: 20pt;
  }

  .titulo-artigo {
    font-size: 18pt;
    margin: 10px 10px 10px 10px;
  }

  .subtitulo-artigo {
    font-size: 14pt;
    margin: 10px 10px 10px 10px;
  }

  .paragrafo-artigo {
    font-size: 12pt;
    margin: 10px 10px 10px 10px;
    line-height: 1.4;
  }

  .link-menu-principal a {
    text-decoration: none;
  }

  .categoria-produto {
    font-size: 140%;
    font-weight: 600;
    margin: 10px 10px 10px 10px;
    background-color: #a75207;
    color: #ffffff;
    line-height: 3;
    padding-left: 20px;
  } 

  .vitrine-produtos {
    margin: 40px 0;
  }

  .lista-produtos {
    margin: 40px 0;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  .imagem-produto {
    width: 100%;
    height: 150px;
    object-fit: contain;
    object-position: 0 0;
  }

  .rodape {
    background-color: #a75207;
    color: #ffffff;
    padding: 20px;
  }

  .imagem-banner {
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: 0 10%;
  }

  .menu-navegacao {
    width: 80%;
    margin: auto;
  }
  
  .menu-navegacao ul {
    display: flex;
    justify-content: start;
  }
  
  .menu-navegacao ul li {
    padding: 20px;
  }
  

#menu-horizontal{
    list-style: none;
    padding: 0;
    background-color: rgb(255, 255, 255);
}

#menu-horizontal li{
    display: inline;
}

#menu-horizontal li a{
    color: rgb(0, 0, 0);
    padding: 20px;
    display: inline-block;
    text-decoration: none;
    transition: rgb(0, 0, 0) .4s
}

#menu-horizontal li a:hover {
    background-color: white;

}


.secao-contato {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content:
    space-between;
}

.formulario-contato{
    width: 60%;
}

.formulario-contato input, .formulario-contato textarea, .button {
    width: 80%;
    margin: 5px 0;
}

@media screen and (max-width: 600px) {
    .menu-navegacao, .titulo-pagina, .subtitulo-pagina, main, .formulario-contato  {
        width: 100%;
    }

    .titulo-pagina {
    margin: 10px 0;
    }
}

@media screen and (max-width: 380px) {
    .menu-navegacao ul 11, .rodape {
        padding: 10px 5px 
    }    
}

.labell {
    display: flex;
    justify-content: space-between;
    color: var(--cor-complemento);
    margin-top: 15px;
    margin-bottom: 5px;
    margin-left: 20px;
}
